@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: rgb(90, 89, 89);
  font-size: 1rem;
  width: 100%;
  min-width: 320px;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: rgb(90, 89, 89);
  text-decoration: none;
}

p {
  text-align: center;
}

/*--#header-----------------*/
#header {
  width: 100%;
}

.header__page-title {
  text-align: center;
  margin-top: 50px;
}

.header__message {
  margin: 30px 20px 0 20px;
  text-align: left;
  display: inline-block;
}

/*--#square-area-----------------*/
#square-area {
  max-width: 1400px;
  margin: 70px auto 0 auto;
  text-align: center;
}

.square-area__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square-area__ul__list {
  width: 25%;
  object-fit: cover;
  margin: 0 10px 40px 10px;
}

.square-area__ul__list:hover {
  opacity: 0.7;
}

.square-area__ul__list__outer-frame {
  border: 1px solid rgb(90, 89, 89, 0.2);
}

.square-area__ul__list__outer-frame:hover {
  border: 1px solid rgb(90, 89, 89);
}

/*--#footer-----------------*/
#footer {
  margin-bottom: 20px;
}

#siteinfo {
  margin-bottom: 20px;
}

#siteinfo ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.5;
}

.siteinfo__list {
  display: inline;
}

#siteinfo a {
  color: #1a0dab;
}

#siteinfo a:hover {
  text-decoration: underline;
}

#siteinfo span {
  opacity: 0.5;
  padding: 0 0.5rem;
}

/* --レスポンシブ 576px--------------- */
@media screen and (max-width: 576px) {
  .header__page-title {
    font-size: 0.75rem;
    margin-top: 30px;
  }
  
  .header__message {
    font-size: 0.8rem;
    margin: 10px 10px 0 10px;
    line-height: 1.5;
  }

  #square-area {
    margin: 50px auto 0 auto;
  }

  .square-area__ul__list__title {
    font-size: 0.7rem;
  }

  .siteinfo__list a {
    font-size: 0.85rem;
  }
  .footer__copyright {
    font-size: 0.85rem;
  }
}