@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: rgb(90, 89, 89);
  font-size: 1rem;
  width: 100%;
  min-width: 320px;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: rgb(90, 89, 89);
  text-decoration: none;
  font-weight: 600;
}

p {
  text-align: center;
  font-size: 1.25rem;
}

/* --#header----------------------- */
.header__site_title {
  margin: 20px;
  font-size: 3rem;
  font-weight: 1000;
}

.header__site_title span {
  color: rgb(90, 89, 89, 0.5);
}

/* --main img（手）----------- */
main img {
  position: absolute;
  bottom: 10%;
  right: 0;
  max-width: 1200px;
  z-index: -1;
}

/* --#work------------------------- */
#work {
  margin-top: 100px;
}

.work__slick_list__copy_coding {
  background-color: rgb(241, 141, 158);
  width: 400px !important;
  height: 400px !important;
  text-align: center;
  border-radius: 50%;
}

.work__slick_list__sample {
  background-color: rgb(163, 193, 255);
  width: 400px !important;
  height: 400px !important;
  text-align: center;
  border-radius: 50%;
}

.work__slick_list__produce {
  background-color: rgb(91, 200, 172);
  width: 400px !important;
  height: 400px !important;
  text-align: center;
  border-radius: 50%;
}

.work__slick_list__sns {
  background-color: rgb(230, 215, 42);
  width: 400px !important;
  height: 400px !important;
  text-align: center;
  border-radius: 50%;
}

.work__slick_list li {
  position: relative;
}

.work__slick_list li:hover {
  opacity: 0.8;
}

.work__slick_list li .btn {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  cursor: pointer;
  padding: 175px 0;
  font-size: 3rem;
}

/* --#contact---------------------- */
.contact__message {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  display: inline-block;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
  white-space: nowrap;
}

/* --#footer---------------------- */
#footer {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  font-weight: 600;
}

.footer__copyright span {
  color: rgb(90, 89, 89, 0.5);
}

/* --レスポンシブ 1600px------------------- */
@media screen and (max-width: 1600px) {
  /* --レスポンシブ #work-------------- */
  .work__slick_list__copy_coding,
  .work__slick_list__sample,
  .work__slick_list__produce,
  .work__slick_list__sns {
    width: 300px !important;
    height: 300px !important;
  }

  .work__slick_list li .btn {
    padding: 135px 0;
    font-size: 2rem;
  }
}


/* --レスポンシブ 1200px------------------- */
@media screen and (max-width: 1200px) {
  /* --レスポンシブ #work-------------- */
  .work__slick_list__copy_coding,
  .work__slick_list__sample,
  .work__slick_list__produce,
  .work__slick_list__sns {
    width: 200px !important;
    height: 200px !important;
  }

  .work__slick_list li .btn {
    padding: 85px 0;
    font-size: 1.5rem;
  }
}


/* --レスポンシブ 992px------------------- */
@media screen and (max-width: 992px) {
  /* --レスポンシブ main img（手）----------- */
  main img {
    max-width: 800px;
  }
}


/* --レスポンシブ 768px------------------- */
@media screen and (max-width: 768px) {
  /* --レスポンシブ #header----------------------- */
  .header__site_title {
    font-size: 2rem;
  }

  /* --レスポンシブ #work-------------- */
  .work__slick_list__copy_coding,
  .work__slick_list__sample,
  .work__slick_list__produce,
  .work__slick_list__sns {
    width: 150px !important;
    height: 150px !important;
  }

  .work__slick_list li .btn {
    padding: 65px 0;
    font-size: 1rem;
  }

  /* --レスポンシブ #contact---------------------- */
  .contact__message {
    bottom: 30px;
    font-size: 0.9rem;
  }

  /* --レスポンシブ #footer---------------------- */
  .footer__copyright {
    font-size: 0.9rem;
  }
}


/* --レスポンシブ 576px------------------- */
@media screen and (max-width: 576px) {
  /* --レスポンシブ #header----------------------- */
  .header__site_title {
    font-size: 1.1rem;
    text-align: center;
  }

  /* --レスポンシブ main img（手）----------- */
  main img {
    position: fixed;
    bottom: 150px;
    max-width: 400px;
  }

  /* --レスポンシブ #work-------------- */
  #work {
    margin-top: 20px;
  }

  .work__slick_list__copy_coding,
  .work__slick_list__sample,
  .work__slick_list__produce,
  .work__slick_list__sns {
    width: 200px !important;
    height: 200px !important;
  }

  .work__slick_list li {
    margin: 20px 0 20px 60px;
  }

  .work__slick_list li .btn {
    padding: 85px 0;
    font-size: 1.5rem;
  }

  /* --レスポンシブ #contact---------------------- */
  #contact {
    text-align: center;
  }

  .contact__message {
    position: static;
    text-align: center;
    font-size: 0.75rem;
    white-space: normal;
  }

  /* --レスポンシブ #footer---------------------- */
  #footer {
    position: static;
    margin-top: 10px;
    font-size: 0.75rem;
  }

  .footer__copyright {
    font-size: 0.75rem;
    margin-bottom: 10px;
  }
}