@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #392C12;
  font-size: 1rem;
  width: 100%;
  min-width: 320px;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: #392C12;
  text-decoration: none;
  font-weight: 600;
  display: block
}

p {
  font-size: 1.25rem;
}

/* --#header----------------------- */
#header {
  height: 750px;
  position: relative;
}

.header__site-title {
  margin: 20px;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
}

.header__site-title span {
  opacity: 0.5;
}

/* --main img（フミマール・ロボ）----------- */
.img__fumima_ru_robot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1%);
  max-width: 400px;
  top: 150px;
  height: auto;
  z-index: -5;
}

/* --.container----------------------- */
.container {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

/* --#work------------------------- */
.work__list {
  margin-bottom: 50px;
  padding-bottom: 5px;
}

.work__list a {
  transition: all 0.3s ease;
}

.work__list a:hover {
  background-color: #392C12;
  color: white;
  border-radius: 10px;
}

.work__ul__title {
  display: inline-block;
  font-size: 2.5rem;
  color: #FFED00;
  background-color: #392C12;
  border-radius: 10px;
  padding: 5px 10px;
}

.work__ul__url {
  color: #1a0dab;
  font-weight: 400;
  text-decoration: underline;
  /* text-underline-offset: 5px; */
  text-underline-offset: 5px;
  text-decoration-thickness: 0.5px;
  word-break: break-all;
  padding-bottom: 20px;
}

.work__list a:hover .work__ul__url {
  color: white;
}

.work__ul p {
  margin: 5px 10px;
}

/* --#footer---------------------- */
#footer {
  text-align: center;
  font-weight: 600;
  margin: 20px;
}

#siteinfo {
  margin-bottom: 20px;
}

#siteinfo ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#siteinfo li {
  display: inline;
}

#siteinfo a {
  color: #1a0dab;
}

#siteinfo a:hover {
  text-decoration: underline;
}

#siteinfo span {
  opacity: 0.5;
  padding: 0 0.5rem;
}

.footer__copyright span {
  opacity: 0.5;
}

/* --レスポンシブ 768px------------------- */
@media screen and (max-width: 1000px) {
  /* --レスポンシブ #header----------------------- */
  .header__site-title {
    font-size: 2rem;
  }

  /* --レスポンシブ #footer---------------------- */
  .siteinfo__list a {
    font-size: 1rem;
  }

  .footer__copyright {
    font-size: 1rem;
  }
}

/* --レスポンシブ 576px------------------- */
@media screen and (max-width: 500px) {
  /* --レスポンシブ #header----------------------- */
  #header {
    height: 450px;
  }

  .header__site-title {
    margin: 30px;
    font-size: 1.4rem;
    text-align: center;
  }

  .img__fumima_ru_robot {
    max-width: 200px;
    top: 120px;
  }
  /* --レスポンシブ #work-------------- */
  .work__ul__title {
    font-size: 1.5rem;
  }

  .work__ul li {
    margin: 0 auto 30px auto;
  }

  /* --レスポンシブ #footer---------------------- */
  .siteinfo__list a {
    font-size: 0.85rem;
  }
  .footer__copyright {
    font-size: 0.85rem;
  }
}